snippet dqsa "document.querySelectorAll"
document.querySelectorAll($1)$2
endsnippet

snippet mex "module.exports"
module.exports = $1
endsnippet

snippet dgs "dangerouslySetInnerHTML"
<div dangerouslySetInnerHTML={{__html: $1}} />
endsnippet

snippet req "const lib = require('lib')"
const $1 = require("$2")
endsnippet


